:root {
    --white: #ffffff;
    --green: #40b93c;
    --peach: #fbcb74;
    --orange: #e88f00;
    --pink: #ef808c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header styles */
header {
    background-color: var(--green);
    padding: 5px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
}

header h1 {
    color: var(--white);
    font-weight: bold;
    font-size: 40px;
}

header nav {
    margin: 15px 15px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 20px;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

/* hero style */
#hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#hero img {
    width: 100%;
}


/* links style */
#links {
    padding: 10px;
    background-color: var(--green);
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-block-end: 40px;
    font-size: 18px;
}

#links nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#links nav ul li a {
    margin: 0 40px;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}

#links img {
    width: 25px;
}


/* about me styles */

#aboutMe {
    padding: 10px;
    margin-block-end: 40px;
    background-color: var(--peach);
    text-align: center;
    color: var(--orange);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#meImg {
    flex: 1 30%;
    margin-right: 20px;
}

#meImg img {
    max-width: 80%;
    margin: 10px;
    border-radius: 30px;
}

#meText {
    flex: 12;
}

#meText h2 {
    margin: 10px;
    font-size: 30px;
}

#meText h3 {
    margin: 10px;
    font-size: 22px;
}

#meText p {
    font-size: 16px;
}


/* skills and certifications styles */

#skillsCerts {
    margin-block-end: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skills {
    background-color: var(--green);
    color: var(--white);
    flex: 1;
    margin-right: 20px;
}

#skills h3 {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

#skillIcons {
    padding:10px;
}

#skillIcons ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#certifications {
    background-color: var(--pink);
    color: var(--white);
    flex: 1;
    margin-left: 20px;
}

#certifications h3 {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 22px;
}

#certifications p {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
}


/* project styles */
#projects {
    padding: 10px 90px;
    margin-block-end: 40px;
    background-color: var(--peach);
    color: var(--orange);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects {
    margin: 20px;
    text-align: center;
    flex: 1 0 0;
}

.feature {
    flex: auto;
}

#projects h3 {
    font-size: 25px;
}

#projects img {
    width: 100%;
    margin: 10px;
    border-radius: 30px;
    min-width: 300px;
}

#projects ul {
    list-style-type: none;
}

#projects a {
    text-decoration: none;
    color: var(--pink);
    font-weight: bold;
    font-size: 18px;
}


/* contact styles */

#contactMe {
    padding: 10px;
    background-color: var(--pink);
    color: var(--white);
    margin-block-end: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contactMeText {
    margin: 5px;
    padding: 10px;
    flex: 12;
}

#contactMeText h2 {
    margin: 10px;
    font-size: 30px;
}

#contactMeText p {
    font-size: 16px;
}

#contactImg {
    margin: 5px;
    padding: 10px;
    flex: 1 30%;
    max-width: 80%;
}

#contactMe img {
    margin: 10px;
    border-radius: 30px;
}

/* Footer Styles */
footer {
    background-color: var(--green);
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}